// Base & resets
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  min-height: 100vh;
}

body {
  background-image: url('../../public/body-bg-01.png'), url('../../public/body-bg-02.png');
  background-repeat: no-repeat, no-repeat;
  background-position: 0 0, 100% 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

strong {
  font-weight: 600;
}

// Helpers
.text-overflow {
  @include text-overflow;
}

.ws-no-wrap {
  white-space: nowrap;
}

.flex-1 {
  flex: 1;
}

.bg-dark {
  background-color: $dark;
}

// Containers
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include media-breakpoint-up(xxxl) {
    padding-left: 0;
  }
}

.main {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
}

.container {
  padding-left: 16px;
  padding-right: 16px;

  @include media-breakpoint-up(sm) {
    padding: 0;
  }
}

.container-sidebar {
  box-shadow: 0px 5px 20px rgba(9, 10, 20, 0.45);
  background-color: $primary-950;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: fixed;

  .container-logo {
    padding: 28px;
    border-bottom: 1px solid $primary-600;
  }

  .container-menu {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 28px;
  }
}
