// Toggles
//
// Used in conjunction with global variables to enable certain theme features.

// Vendor
@import '../../node_modules/bootstrap/scss/vendor/rfs';

// Deprecate
@import '../../node_modules/bootstrap/scss/mixins/deprecate';

// Helpers
@import '../../node_modules/bootstrap/scss/mixins/breakpoints';
@import '../../node_modules/bootstrap/scss/mixins/color-scheme';
@import '../../node_modules/bootstrap/scss/mixins/image';
@import '../../node_modules/bootstrap/scss/mixins/resize';
@import '../../node_modules/bootstrap/scss/mixins/visually-hidden';
@import '../../node_modules/bootstrap/scss/mixins/reset-text';
@import '../../node_modules/bootstrap/scss/mixins/text-truncate';

// Utilities
@import '../../node_modules/bootstrap/scss/mixins/utilities';

// Components
@import '../../node_modules/bootstrap/scss/mixins/alert';
@import '../../node_modules/bootstrap/scss/mixins/backdrop';
@import 'mixins/buttons';
@import '../../node_modules/bootstrap/scss/mixins/caret';
@import '../../node_modules/bootstrap/scss/mixins/pagination';
@import '../../node_modules/bootstrap/scss/mixins/lists';
@import '../../node_modules/bootstrap/scss/mixins/list-group';
@import '../../node_modules/bootstrap/scss/mixins/forms';
@import '../../node_modules/bootstrap/scss/mixins/table-variants';

// Skins
@import '../../node_modules/bootstrap/scss/mixins/border-radius';
@import '../../node_modules/bootstrap/scss/mixins/box-shadow';
@import '../../node_modules/bootstrap/scss/mixins/gradients';
@import '../../node_modules/bootstrap/scss/mixins/transition';

// Layout
@import '../../node_modules/bootstrap/scss/mixins/clearfix';
@import '../../node_modules/bootstrap/scss/mixins/container';
@import '../../node_modules/bootstrap/scss/mixins/grid';

// Typography Mixins and functions
@mixin text() {
  font-family: $font-family-primary;
}

@mixin text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@function texts-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

// Layout Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin inline-flex-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

// UI Mixins
@mixin list-icon($icon, $boldness, $size, $color) {
  position: relative;
  padding-left: $size * 1.5;

  &:before {
    @include fontAwesome($boldness);
    content: $icon;
    font-size: $size;
    color: $color;
    position: absolute;
    left: 0;
  }
}

// Transition mixins
@mixin transition-color {
  transition: color 0.15s linear;
}

@mixin transition-section {
  transition: background-color 0.2s ease-in-out, padding 0.2s ease-in-out;
}

@mixin custom-underline($color) {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: $color;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: 0.1s linear;
  }

  &:hover {
    &:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}
