// Classes
@each $size in map-keys($texts) {
  .text-#{$size} {
    @include text;
    font-size: texts-deep-get($texts, $size, 'default', 'font-size');
    line-height: texts-deep-get($texts, $size, 'default', 'line-height');

    @include media-breakpoint-up(md) {
      font-size: texts-deep-get($texts, $size, 'md', 'font-size');
      line-height: texts-deep-get($texts, $size, 'md', 'line-height');
    }
  }
}

// Custom styles
.text-label {
  font-weight: $font-weight-normal;
  margin-bottom: 4px;
  font-size: 24px;
}

.text-numeric {
  font-family: $font-family-numeric;
}

.text-bold {
  font-weight: $font-weight-semi-bold;
}

// Links
.link {
  @include custom-underline($body-color);

  color: $body-color;
  text-decoration: none;

  &:hover {
    color: $body-color;
    text-decoration: none;
  }
}

.link-primary {
  cursor: pointer;
  transition: color 0.15s linear;

  color: $primary-200;
  text-decoration: none;

  &:hover {
    color: $primary;
    text-decoration: none;
  }
}

.link-menu {
  padding: 4px 8px;
  color: $neutral-400;
  text-decoration: none;
  display: flex;
  align-items: center;
  @include transition-link;

  &:hover {
    color: $neutral-100;
  }
}

.cursor-pointer {
  cursor: pointer;
}
