/* Helpers */
.bg-secondary-800 {
  background-color: $secondary-800;
}

.bg-success-600 {
  background-color: $positive-600;
}

/* Buttons */
.btn {
  text-transform: uppercase;
  letter-spacing: 0.5px;

  &.btn-sm {
    text-transform: none;
  }
}

.btn-selector {
  padding: 8px 12px;
  border-radius: $border-radius;
  display: inline-flex;
  align-items: center;

  &:not(.is-disabled) {
    cursor: pointer;
    transition: background-color 0.15s linear, border-color 0.15s linear;
  }

  &.with-background {
    background-color: $blue-neutral-700;
  }

  &.with-border {
    border: 1px solid $blue-neutral-400;
  }

  &:hover:not(.is-disabled) {
    background-color: $blue-neutral-500;

    &.with-border {
      border-color: $blue-neutral-500;
    }
  }
}

.btn-percentage {
  cursor: pointer;
  border: 1px solid $blue-neutral-300;
  border-radius: $border-radius;
  font-size: 12px;
  line-height: 16px;
  color: $blue-neutral-100;
  padding: 4px 12px;
  transition: background-color 0.15s linear;

  &.is-active {
    background-color: $blue-neutral-300;
  }
}

.btn-connect-wallet {
  background-color: $blue-neutral-700;
  border-radius: $border-radius;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
  cursor: pointer;
  transition: background-color 0.15s linear;

  &:hover {
    background-color: $blue-neutral-500;
  }
}

/* Icons */
.icon {
  display: inline-flex;
  width: 24px;
  height: 24px;
  transition: fill 0.15s linear;

  &.is-gray {
    path {
      fill: $blue-neutral-300;
    }
  }

  &.is-danger {
    path {
      fill: $error-400;
    }
  }

  &.is-success {
    path {
      fill: $positive-400;
    }
  }

  &.is-warning {
    path {
      fill: $warning-300;
    }
  }

  &.is-info {
    path {
      fill: $primary-100;
    }
  }

  &.is-gradient {
    path {
      fill: linear-gradient(139.83deg, #f32fd7 0%, #3845fb 100%);
    }
  }

  &.is-small {
    width: 20px;
    height: 20px;
  }
}

.icon-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: $border-radius;
  transition: background-color 0.15s linear;
}

.icon-token {
  display: inline-flex;
  width: 28px;
  height: 28px;

  &.is-large {
    width: 44px;
    height: 44px;
  }
}

.icon-healthcheck {
  display: block;
  width: 12px;
  height: 12px;
  background-color: $danger;
  border-radius: 50%;

  &.is-running {
    background-color: $positive-400;
  }
}

.icon-campaign-status {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $danger;

  &.is-active {
    background-color: $positive-400;
  }

  &.not-started {
    background-color: $warning-300;
  }
}

.icon-hashpack {
  width: 26px;
  height: 32px;
  background-image: url('../../public/logo-hashpack.svg');
}

/* Containers */
.container-connected {
  background-color: $blue-neutral-700;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.05);
  border-radius: $border-radius;
  padding: 4px;

  @include media-breakpoint-up(sm) {
    padding: 3px 3px 3px 12px;
    display: flex;
    align-items: center;
  }
}

.container-address {
  background-color: $blue-neutral-500;
  border-radius: 2px;
  padding: 4px 8px;
  cursor: pointer;
  transition: background-color 0.15s linear;
  display: flex;
  align-items: center;

  @include media-breakpoint-up(sm) {
    margin-left: 12px;
  }

  &:hover {
    background-color: $blue-neutral-600;
  }
}

.container-dark {
  background-color: $blue-neutral-950;
  box-shadow: 0px 5px 20px rgba(9, 10, 20, 0.45);
  padding: 16px;
  border-radius: 6px;
}

.container-rounded-dark {
  background-color: #25255f;
  border-radius: $border-radius;
  padding: 16px;
}

.container-blue-neutral {
  background-color: #25255f;
}

.container-blue-neutral-700 {
  background-color: $blue-neutral-700;
}

.container-blue-neutral-800 {
  background-color: $blue-neutral-800;
}

.container-blue-neutral-900 {
  background-color: $blue-neutral-900;
}

.container-border-rounded-bn-500 {
  border: 1px solid $blue-neutral-500;
  border-radius: $border-radius;
  padding: 16px;
}

.container-input-token {
  background-color: $blue-neutral-700;
  border-radius: $border-radius;
  padding: 12px;
  border: 1px solid $blue-neutral-700;
  transition: border 0.15s linear;

  @include media-breakpoint-up(md) {
    &:not(.is-readonly) {
      height: 108px;
    }
  }

  &:focus-within:not(.is-readonly),
  &:hover:not(.is-readonly) {
    border-color: $blue-neutral-500;
  }

  &.is-invalid {
    border-color: $danger;
  }

  .input-token {
    color: $blue-neutral-100;
    font-family: $font-family-numeric;
    font-size: 20px;
    line-height: 40px;
    background-color: $blue-neutral-700;
    border: none;
    max-width: 150px;
    flex: 0 1 150px;
    @include transition-color;

    @include media-breakpoint-up(md) {
      max-width: 230px;
      flex: 0 1 230px;
      font-size: 28px;
    }

    &.is-compact {
      font-size: 16px;
      max-width: 230px;
      flex: 0 1 230px;

      @include media-breakpoint-up(md) {
        max-width: 270px;
        flex: 0 1 270px;
        font-size: 22px;
      }
    }

    &::placeholder {
      color: $blue-neutral-100;
    }

    &:focus {
      color: $blue-neutral-100;
    }

    &:focus-visible {
      border: none;
      outline: none;
    }
  }
}

.container-action {
  max-width: 460px;
  width: 100%;
}

.container-max-with-1042 {
  width: 100%;
  max-width: 1042px;

  @include media-breakpoint-up(md) {
    margin: 0 24px;
  }
}

.container-pool-details {
  padding: 0 20px 20px 20px;
  background-color: #1f1f4d;
  border-bottom: 1px solid $blue-neutral-500;
}

.container-transparent-border {
  padding: 12px;
  border-radius: $border-radius;
  border: 1px solid #3d3d58;
}

.container-loader {
  width: 80px;
  height: 80px;
  background-image: url('../../public/loader.svg');
  background-repeat: no-repeat;
  animation: 0.75s linear infinite spinner-border;
}

.container-sidebar-menu {
  background-color: $blue-neutral-600;
  box-shadow: 0px 5px 20px rgba(9, 10, 20, 0.45);
  border-radius: $border-radius;
  padding: 18px;
  min-width: 200px;
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 1;

  @include media-breakpoint-up(md) {
    right: auto;
    top: auto;
    bottom: 0;
    left: 48px;
  }

  @include media-breakpoint-up(xxxl) {
    left: 110px;
  }
}

.container-campaign-status {
  border: 1px solid $blue-neutral-500;
  border-radius: $border-radius;
  padding: 4px 8px;
}

.container-scroll {
  overflow-y: auto;
  max-height: 50vh;
}

.container-global-message {
  padding: 8px;
  background-image: linear-gradient(139.83deg, #f32fd7 0%, #3845fb 100%);

  @include media-breakpoint-up(md) {
    position: fixed;
    width: 100%;
    z-index: 2;
    margin-left: 100px;
  }

  @include media-breakpoint-up(xxxl) {
    margin-left: 252px;
  }
}

.container-header {
  &.with-message {
    @include media-breakpoint-up(md) {
      margin-top: 38px;
    }
  }
}

.container-expandable {
  background-color: $blue-neutral-800;
  border-radius: 8px;
  padding: 32px;
}

.container-days {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 4px;
}

.container-days-labels {
  display: grid;
  grid-template-columns: 5fr 2fr 1fr;
  column-gap: 4px;
}

.container-day {
  background-color: $blue-neutral-600;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  text-align: center;

  &.is-active {
    border: 1px solid $blue-neutral-300;
  }

  &.is-day-6 {
    background: linear-gradient(90deg, #f32fd7 0%, #3845fb 203.97%);
  }

  &.is-day-7 {
    background: linear-gradient(90deg, #f32fd7 -104.53%, #3845fb 100%);
  }
}

.container-lockdrop {
  background-image: url('../../public/lockdrop-bg.png');
  background-repeat: no-repeat;
  background-position: center -80px;
}

.container-lockdrop-progress {
  width: 320px;
  height: 320px;
  border: 1px solid $blue-neutral-600;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tables */
.table-pools {
  border-radius: 4px 4px 0px 0px;
  background-color: $blue-neutral-800;

  @include media-breakpoint-up(md) {
    display: grid;
    grid-auto-rows: auto;
  }

  .table-pools-row {
    transition: background-color 0.1s linear;
    border-bottom: 1px solid $blue-neutral-500;
    cursor: pointer;

    @include media-breakpoint-up(md) {
      display: grid;
      gap: 1em;
      grid-template-columns: 20px 3fr 1fr;
    }

    &:hover {
      background-color: #1f1f4d;
    }

    &:last-child {
      border-bottom: none;
    }

    &.with-4-columns {
      grid-template-columns: 20px 3fr 1fr 1fr;
    }

    &.with-5-columns {
      grid-template-columns: 20px 3fr 1fr 1fr 1fr;
    }

    &.with-6-columns {
      grid-template-columns: 20px 3fr 1fr 1fr 1fr 1fr;
    }

    &.with-5-columns-farms {
      grid-template-columns: 20px 2fr 1fr 1fr 2fr;
    }

    &.with-6-columns-farms {
      grid-template-columns: 20px 2fr 1fr 1fr 1fr 1fr;
    }

    &.with-7-columns-farms {
      grid-template-columns: 20px 2fr 1fr 1fr 1fr 1fr 1fr;
    }

    &.is-opened {
      background-color: #1f1f4d;
      border-bottom: none;
    }

    &.no-pointer {
      cursor: default;
    }

    .table-pools-cell {
      display: flex;
      align-items: center;
      padding: 8px 12px;

      @include media-breakpoint-up(md) {
        padding: 16px 24px;
      }
    }
  }
}

/* Modals */
.modal-content {
  box-shadow: $modal-content-box-shadow-xs;
}

.modal-backdrop {
  backdrop-filter: blur(4px);
}

/* Not relevant */
.container-pairs {
  background-color: $darkest;
  border-radius: 15px;
  box-shadow: 3.1033px 3.1033px 18.6198px rgba(0, 0, 0, 0.1);
  padding: 24px;
  max-width: 1220px;
  width: 100%;
}

.container-table {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 16px;

  .container-table-row {
    display: grid;
    gap: 1em;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid rgb(31, 33, 40);

    &.with-cols-5 {
      grid-template-columns: 20px 3.5fr repeat(3, 1fr);
    }

    &.with-cols-6 {
      grid-template-columns: 20px 3.5fr repeat(4, 1fr);
    }

    &:hover {
      background-color: $darker;
    }
  }
}

// Lists
.list-token-item {
  padding: 4px 8px;
  border-radius: $border-radius;
  transition: background-color 0.15s linear;

  &:hover {
    background-color: $blue-neutral-700;
  }
}

.list-default {
  padding-left: 24px;
  list-style-type: circle;

  li {
    margin: 4px 0;
  }
}

.btn-close {
  opacity: 1;
}

// Tabs
.tab-title {
  color: $secondary;
  cursor: pointer;
  @include transition-color;

  &.is-active {
    color: $blue-neutral-100;

    &:after {
      content: '';
      display: block;
      height: 1px;
      background-color: $blue-neutral-100;
      transform: translateY(17px);
    }
  }
}

// Images
.img-profile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

// Overwrites
.tippy-box {
  background-color: $blue-neutral-400;
  padding: 12px;
}

.tippy-arrow {
  color: $blue-neutral-400;
}

// Pagination
.page-item {
  &:first-child,
  &:last-child {
    display: none;
  }

  margin: 0 2px;
}

.page-link {
  border-radius: $border-radius;
  font-size: 14px;
}

// Toasts
.toast-success {
  color: $positive-400 !important;
}

.toast-error {
  color: $error-500 !important;
}

// Alerts
.alert {
  background-color: transparent !important;
  font-size: 14px;

  &.alert-warning {
    border-color: $warning-300;
    color: $warning-300;
  }

  &.alert-danger {
    border-color: $error-400;
    color: $error-400;
  }

  .alert-icon {
    flex-basis: 32px;
  }

  .alert-message {
    flex: 1;
  }
}

.separator-header {
  width: 1px;
  height: 36px;
  background-color: $blue-neutral-400;
  opacity: 0.5;

  margin: 0 12px;

  @include media-breakpoint-up(md) {
    margin: 0 24px;
  }
}

.separator-expand {
  border: 0;
  height: 1px;
  background-color: $blue-neutral-500;
}
