.container-swap {
  background-color: $darkest;
  border-radius: 15px;
  box-shadow: 3.1033px 3.1033px 18.6198px rgba(0, 0, 0, 0.1);
  padding: 24px;
  max-width: 820px;
  width: 100%;
}

.container-pairs {
  background-color: $darkest;
  border-radius: 15px;
  box-shadow: 3.1033px 3.1033px 18.6198px rgba(0, 0, 0, 0.1);
  padding: 24px;
  max-width: 1220px;
  width: 100%;
}

.container-table {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 16px;

  .container-table-row {
    display: grid;
    gap: 1em;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid rgb(31, 33, 40);

    &.with-cols-5 {
      grid-template-columns: 20px 3.5fr repeat(3, 1fr);
    }

    &.with-cols-6 {
      grid-template-columns: 20px 3.5fr repeat(4, 1fr);
    }

    &:hover {
      background-color: $darker;
    }
  }
}

.input-container {
  position: relative;

  .text-link-input {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.container-token-selector {
  padding: 6px 6px 6px 12px;
  color: $input-color;
  background-color: $darkest;
  border: 1px solid $input-border-color;
  border-radius: $border-radius;
  font-size: $input-font-size;
}

.list-token-item {
  &:hover {
    background-color: $dark;
  }
  &.is-selected {
    background-color: $darkest;
  }
}
