/* Buttons */
.btn {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.btn-selector {
  padding: 8px 12px;
  border-radius: $border-radius;
  display: inline-flex;
  align-items: center;

  &:not(.is-disabled) {
    cursor: pointer;
    transition: background-color 0.15s linear, border-color 0.15s linear;
  }

  &.with-background {
    background-color: $neutral-700;
  }

  &.with-border {
    border: 1px solid $neutral-400;
  }

  &:hover:not(.is-disabled) {
    background-color: $neutral-500;

    &.with-border {
      border-color: $neutral-500;
    }
  }
}

.btn-percentage {
  cursor: pointer;
  border: 1px solid $primary-300;
  border-radius: $border-radius;
  font-size: 12px;
  line-height: 16px;
  color: $neutral-100;
  padding: 4px 12px;
  transition: background-color 0.15s linear;

  &.is-active {
    background-color: $primary-300;
  }
}

/* Icons */
.icon {
  display: inline-flex;
  width: 24px;
  height: 24px;
  transition: fill 0.15s linear;

  &.is-gray {
    path {
      fill: $neutral-400;
    }
  }

  &.is-gradient {
    path {
      fill: linear-gradient(139.83deg, #f32fd7 0%, #3845fb 100%);
    }
  }
}

.icon-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: $border-radius;
  transition: background-color 0.15s linear;
}

.icon-token {
  display: inline-flex;
  width: 28px;
  height: 28px;

  &.is-large {
    width: 44px;
    height: 44px;
  }
}

/* Containers */
.container-connected {
  background-color: $neutral-900;
  border-radius: $border-radius;
  padding: 3px 3px 3px 12px;
  display: flex;
  align-items: center;
}

.container-address {
  background-color: $neutral-700;
  border-radius: 2px;
  padding: 4px 8px;
  margin-left: 12px;
}

.container-dark {
  background-color: $neutral-900;
  box-shadow: 0px 5px 20px rgba(9, 10, 20, 0.45);
  padding: 16px;
  border-radius: 6px;
}

.container-input-token {
  height: 108px;
  background-color: $neutral-700;
  border-radius: $border-radius;
  padding: 12px;
  border: 1px solid $neutral-700;
  transition: border 0.15s linear;

  &:focus-within,
  &:hover {
    border-color: $neutral-100;
  }

  .input-token {
    color: $neutral-300;
    font-family: $font-family-numeric;
    font-size: 28px;
    line-height: 40px;
    background-color: $neutral-700;
    border: none;
    max-width: 250px;
    flex: 0 1 250px;
    @include transition-color;

    &:focus {
      color: $neutral-100;
    }

    &:focus-visible {
      border: none;
      outline: none;
    }
  }
}

.container-action {
  max-width: 460px;
  width: 100%;
}

.container-pools {
  width: 100%;
  max-width: 1042px;
  margin: 0 24px;
}

.container-pool-details {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $neutral-400;

  &.is-gray {
    background-color: $neutral-700;
  }
}

.container-neutral-500 {
  background-color: $neutral-500;
  padding: 18px 12px;
  border-radius: $border-radius;
}

/* Tables */
.table-pools {
  display: grid;
  grid-auto-rows: auto;
  border-radius: 4px 4px 0px 0px;
  background-color: $neutral-900;

  .table-pools-row {
    display: grid;
    gap: 1em;
    grid-template-columns: 30px 3fr 1fr;

    &.with-4-columns {
      grid-template-columns: 30px 2fr 1fr 1fr;
    }

    &.is-gray {
      background-color: $neutral-700;
    }

    .table-pools-cell {
      display: flex;
      align-items: center;
      padding: 16px 24px;
    }
  }
}

/* Modals */
.modal-content {
  box-shadow: $modal-content-box-shadow-xs;
}

.modal-backdrop {
  backdrop-filter: blur(4px);
}

/* Not relevant */

.container-pairs {
  background-color: $darkest;
  border-radius: 15px;
  box-shadow: 3.1033px 3.1033px 18.6198px rgba(0, 0, 0, 0.1);
  padding: 24px;
  max-width: 1220px;
  width: 100%;
}

.container-table {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 16px;

  .container-table-row {
    display: grid;
    gap: 1em;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid rgb(31, 33, 40);

    &.with-cols-5 {
      grid-template-columns: 20px 3.5fr repeat(3, 1fr);
    }

    &.with-cols-6 {
      grid-template-columns: 20px 3.5fr repeat(4, 1fr);
    }

    &:hover {
      background-color: $darker;
    }
  }
}

.input-container {
  position: relative;

  .text-link-input {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.container-token-selector {
  padding: 6px 6px 6px 12px;
  color: $input-color;
  background-color: $darkest;
  border: 1px solid $input-border-color;
  border-radius: $border-radius;
  font-size: $input-font-size;
}

.list-token-item {
  padding: 4px 8px;
  border-radius: $border-radius;
  transition: background-color 0.15s linear;

  &:hover {
    background-color: $darkest;
  }

  &.is-selected {
    background-color: $darkest;
  }
}

.btn-close {
  opacity: 1;
}

// Tabs
.tab-title {
  color: $secondary;
  cursor: pointer;
  @include transition-color;

  &.is-active {
    color: $neutral-100;

    &:after {
      content: '';
      display: block;
      height: 1px;
      background-color: $neutral-100;
      transform: translateY(17px);
    }
  }
}
